body {
  	font-family:Verdana, sans-serif;
  	font-size: 14px;
}

/*For Microsoft!*/
main {
  display:block;
}


/*section holding the delivery form*/
.insertDelivery, .customerView {
	width: 100%;
	font-size: 15px;
}

/*The title of the delivery page*/
.insertDelivery .deliveryPageTitle{
	font-size: 20px;
	width: 40%;
	margin: 20px auto 0px auto;
	padding: 20px 90px 20px 10px;
	text-align: left;
	background-color: #DCDCDC;
	border-radius: 10px;
}

/*the delivery form*/
.deliveryForm, .customerForm{
	width: 40%;
	margin: 10px auto 30px auto;
	padding: 15px 50px 20px 50px;
	background-color: #F5F5F5;
	border-radius: 10px;
}

.deliveryForm input, .customerForm input {
	font-size: 15px;
	display: block;
	margin: 5px 0 25px 0;
	padding-left: 10px;
	border: 0;
	border-radius: 6px;
	width: 90%;
	height: 35px;
}

.deliveryForm input:last-child, .customerForm input:last-child {
	margin: 20px auto 0 auto;
	color: white;
	background-color: #32CD32;
	width: 60%;
	height: 60px;
}

.deliveryForm input:last-child:hover {
	background-color: #00FF00;
}

/*reset button*/
#CTA {
	margin: 0 auto;
	width: 60%;
	background-color: #D3D3D3;
}

#CTA:hover {
	background-color: #FF0000;
}

/*sale prise checkbox*/
.deliveryForm #checkboxId{
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	border-radius:0;
	width: 10%;
	height: 20px;
}

/*ISBN error message*/
.error_message {
	color: red;
}


/* - - - - - - - - - - - (US3) - - - - - - - - -*/
/*section holding the search bar form (US3)*/
.searchWithIsbn {
	width: 100%;
	font-size: 15px;
}

/*the search bar form*/
.newSearchIsbn {
	width: 40%;
	margin: 100px auto 30px auto;
	padding: 50px;
	background-color: #F5F5F5;
	border-radius: 10px;
}

.newSearchIsbn input {
	font-size: 15px;
	display: block;
	margin: 5px 0 25px 0;
	padding-left: 10px;
	border: 0;
	border-radius: 6px;
	width: 90%;
	height: 40px;
}

.newSearchIsbn input:last-child {
	margin: 20px auto 0 auto;
	color: white;
	background-color: #32CD32;
	cursor: pointer;
	width: 60%;
	height: 60px;
}

.newSearchIsbn input:last-child:hover {
	background-color: #00FF00;
}


/*section holding the sale table (US3)*/
.saleTableHolder {
	width: 100%;
	font-size: 15px;
}

/*the sale table(US3)*/
.saleTable {
	width: 90%;
	margin: 100px auto 30px auto;
	background-color: #DCDCDC;
	border-radius: 10px;
}

.saleTable caption {
	margin-bottom: 10px;
}

.saleTable tr {
	text-align: left;

}

.saleTable th:first-child, td:first-child {
	padding: 10px;
	border-left: 0;
}

.saleTable th,td {
	padding: 15px;
	border-left: 1px solid #C0C0C0;
}

.saleTable tbody tr:nth-child(even) {
	background-color: #F5F5F5;	
}

.saleTable tbody tr:nth-child(odd) {
	background-color: #FFFFFF;	
}

